*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
  
.timer{
    font-family: sans-serif;
    display: flex;
    background: white;
}
  
.timer__part {
    margin-right: 10px;
    font-size: 46px;
    font-weight: bold;
}
  
.timer__btn {
    margin-right: 10px;
    border: none;
    outline: none;
    padding: 10px 40px;
    background: #aa8c92;
    color: #fff;
    cursor: pointer;
    border-radius: 30px;
}

.timer__btn--stop {
    background: #a45c6c;
}
   